/* Header.css */

/* Style the header */
header {
    background-color: skyblue;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the navigation links */
  header a {
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  
  header a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the active link */
  header a.active {
    background-color: slategray;
    color: black;
  }
  
  /* Style the top navigation */
  #navLink {
    font-weight: bold;
  }